* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(153, 224, 255);
}

.navigation {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(45, 10, 80, 0.8);
    backdrop-filter: blur(10px);
    padding: 10px 20px;
    border-radius: 50px;
    display: flex;
}

.navigation ul {
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 5px;
}

.navigation li a {
    text-decoration: none;
    color: #a855f7;
    /* Cor inicial */
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    /* Agora sim, redondinho! */
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.navigation li a:hover {
    background-color: #a855f7;
    color: #fff;
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(168, 85, 247, 0.5);
}